<h1>Articles</h1>

<p>Our blog has <%= Article.public_count %> public articles,
                <%= Article.private_count %> private articles and
                <%= Article.archived_count %> archived articles!</p>

<%= render 'articles' %>

<p><%= link_to 'New Article', new_article_path%></p>
<p><%= link_to 'Back to user page', root_path %>
